button {
  &.search {
    border: 2px solid #bebebe;
    border-radius: 20px;
    padding: 4px 24px;
    font-weight: 400;
  }
}

.full-screen-modal-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 10000;

  .modal-content {
      height: 200px;
      font-size: 20px;
      font-weight: 600;
      margin: auto;
      max-width: 400px;
      text-align: center;
      top: 30%;

      display: flex;
      flex-direction: column;
      justify-content: center;

      .fail-message {
        color: #ff2b2b;
      }
  }
}

.transition-modal-container-appear,.transition-modal-container-enter {
  opacity: 0;
}

.transition-modal-container-appear-active,.transition-modal-container-enter-active {
  opacity: 1;
  transition: opacity 500ms linear;
}

.transition-modal-container-exit {
  opacity: 1;
}

.transition-modal-container-exit-active {
  opacity: 0;
  transition: opacity 500ms linear;
}
